body{
    
    height: 100vh;
}

table, th, td {
    border: 1px solid black;
   
  }
  th,td {
    text-align: center;
  }
  /* .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  } */